@using System.Data.SqlClient;
@using OgrenciNotMVC.Models.EntityFramework;
@model List<TBLDERSLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="btn-info" style="text-align:center">ÖĞRENCİ DERSLERİ</h1>
<table class="table table-bordered">
    <tr>
        <th>DERS ID</th>
        <th>DERS ADI</th>
    </tr>
    <tbody>
        @try
        {
            foreach (var ders in @Model)
            {
                <tr>
                    <td>@ders.DERSID</td>
                    <td>@ders.DERSAD</td>
                </tr>
            }
        }
        catch (Exception ex)
        {

            <tr>
                <th>Burası model kutucuğu @Model</th>
                <th> Hata:  <span style="color:red"> @ex.Message</span></th>
            </tr>
        }
    </tbody>
   
</table>

<a href="/Default/YeniDers" class="btn btn-primary" >Yeni Ders Kaydı</a>